.login-card {
  width: 20%; /* Set width to 20% of the screen */
  margin: auto; /* Center the card horizontally */
  margin-top: 10vh;
}

.login-card .card-title {
  text-align: center; /* Center the title */
}

.login-card form {
  padding: 20px; /* Add padding inside the card body */
}

.login-card input[type="text"],
.login-card input[type="email"],
.login-card input[type="password"] {
  border-radius: 10px; /* Add border radius for text inputs */
  margin-bottom: 10px; /* Add margin between inputs */
}

.login-card button[type="submit"] {
  width: 100%; /* Set button width to 100% */
}
